<div class="container">
  <div class="center">
    <form [formGroup]="signupForm" (ngSubmit)="singupData(signupForm)">

      <h1>SignUp</h1>

      <div class="txt_field" *ngFor="let data of dataHtml">
        <input [type]=[data.type] [formControlName]=data.formControlName *ngIf="data.typeHtml === 0" required>
        <span></span>
        <label>{{data.label}}</label>
      </div>
      <button type="submit">Singup</button>
      <div class="signup_link">
        are you a member? <a routerLink="login">login</a>
      </div>
    </form>

  </div>
</div>